.jumbotron {
    background-image: url(img/Home.png);
    background-size: cover;
    height: 603px;
    background-position: center;
    color: white;
    text-align: center;
    width: 100%;
    height: 92vh;
    background-position: center;
    color: white;
    text-align: center;
    position: relative;
  }